svg {
    color: white;
    width: 3rem;
}

svg:hover {
    color: #999;
}

iframe {
    width: 100%;
}

#navbar {
    padding: 1rem 0 1rem 0;
}

.off-canvas-menu {
    display: flex;
    flex-direction: column;
}

.website {
    display: flex;
    align-items: center;
    color: white;
    font-family: Antipol-Variable;
    font-size: 2rem;
}